.grid {
    width: 100%;
    padding: 2vw;
}
.grid::after {
    content: "";
    display: block;
    clear: both;
}
.grid .grid__item {
    float: left;
    padding: 0 2vw;
    display: flex;
    flex-direction: row;
}
.grid .grid__item:nth-child(odd) {
    padding-left: 0;
    justify-content: flex-start;
}
.grid .grid__item:nth-child(even) {
    padding-right: 0;
    justify-content: flex-end;
}
.grid .grid__item_1_1 {
    padding-right: 0;
    width: 100%;
}
.grid .grid__item_1_2 {
    width: 50%;
}