@import "../framework/var.css";

.flip {
  display: block;
  min-width: 100%;
  width: auto;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
	visibility: hidden;
}

.flip .flip--bg {
  height: 692px;
  background: #9FD2D8;
}

@media (max-width: 1100px) {
  .flip .flip--bg {
    position: relative;
    height: 455px;
  }
}

@media (max-width: 568px) {
  .flip .flip--bg {
    margin-left: 67px;
    height: 275px;
  }
}

.flip--content {
  margin-top: 265px;
  padding: 0 20px 0 60px;
}

@media (max-width: 1100px) {
  .flip--content {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 59px;
    padding-left: 30px;
  }
}

@media (max-width: 568px) {
  .flip--content {
    margin-top: 0;
    margin-bottom: 15px;
    position: static;
  }
}

.flip--title {
  font-weight: bold;
  font-size: 64px;
  line-height: .8em;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #3E3E3E;
}
@media (max-width: 568px) {
  .flip--title {
    font-size: 50px;
  }
}

.flip--subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flip--subtitle::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 4px;
  background: #212121;
  margin-right: 5px;
  flex-shrink: 1;
  flex-grow: 1;
}

@media (max-width: 568px) {
  .flip--subtitle {
    font-size: 14px;
    justify-content: flex-start;
  }
  .flip--subtitle::before {
    flex-grow: 0.3;
  }
}

.flip__slide {
	-webkit-animation-name: slideDown;
  animation-name: slideDown;

	-webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;

	-webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

	visibility: visible !important;
}


@-webkit-keyframes slideDown {
  0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(20%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(20%);
	}
	100% {
		transform: translateY(0%);
	}
}

@media (max-width: 568px) {
  .flip__slide {
    top: 74px;
    overflow: hidden;
  }
}
