.card-booking {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
}
.card-booking .card-booking__header {
    width: 100%;
    height: 210px;
    background: #85c9b3 url('/blocks/flat/card/card-booking__header.jpg') center  no-repeat;
    background-size: cover;
    align-self: flex-start;
    /* border-radius: 16px 16px 0 0 ; */
}
.card-booking .card-booking__container {
    padding: 0 2vw;
}
.card-booking .card-booking__title {
    /* font-family: DM Serif Display; */
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #081F32;
}
.card-booking.card-booking_text .card-booking__title {
    text-align: center;
}
.card-booking .card-booking__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #6E798C;
}
.card-booking .card-booking__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #374A59;
}
.card-booking .card-booking__text > ul {
    padding-left: 17px;
}
.card-booking .card-booking__footer {
    /* align-self: flex-end; */
    padding: 30px 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}